@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu TAS Beginner", cursive, sans-serif;
}

:root {
  --main-color: #1a120b;
  --secondary-color: #3c2a21;
  --tertiary-1: #d5cea3;
  --tertiary-2: #e5e5cb;
  --margins-between-items: 2rem;
}

body {
  min-height: 100vh;
  background-color: var(--main-color);
  font-size: 16px;
  min-width: 350px;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary-2);
  min-height: 100px;
  text-align: center;
}

.content-container {
  margin: auto 0;
}

footer {
  text-align: center;
  background-color: var(--tertiary-2);
  padding: 1rem;
}

details {
  background-color: var(--tertiary-1);
  color: var(--secondary-color);
  user-select: none;
  margin: var(--margins-between-items) 0;
}

label {
  font-size: 1.5rem;
}

label + p {
  margin: 0.3rem 0 0 1.85rem;
}

input[type="checkbox"] {
  margin-right: 0.3rem;
  height: 1rem;
  width: 1.5rem;
}

summary {
  position: relative;
  cursor: pointer;
  /* list-style: none; */
  background-color: var(--tertiary-2);
  padding: 1rem 0 1rem 1rem;
}

summary::marker {
  content: "";
}

summary > h1 {
  display: inline;
}

summary > button {
  position: absolute;
  right: 3rem;
  top: 25%;
  padding: 0.6rem 1rem;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  background-color: var(--tertiary-1);
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 900;
}

summary > button:hover {
  background-color: var(--tertiary-2);
}

summary > h1::after {
  position: absolute;
  right: 1rem;
  top: 27%;
  content: url(assets/downArrow.svg);
}

.event {
  padding: 1rem;
}
